[Unit]
Description=CSYE6225 Web Application
After=cloud-final.service

[Service]
User=csye6225
WorkingDirectory=/opt/csye6225
ExecStart=/usr/bin/java -jar /opt/csye6225/webapp.jar --spring.config.location=/opt/csye6225/
Restart=always
Type=simple
StandardOutput=append:/var/log/webapp.log
StandardError=append:/var/log/webapp-error.log

[Install]
WantedBy=cloud-init.target
